.container {
  width: 80%;
  margin: 0 auto;
  padding: 45px 0;

  h1 {
    text-align: center;
  }

  .split {
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .bio {
      width: 50%;
      max-width: 70ch;

      h2 {
        font-size: 2rem;
        margin-bottom: -20px;
      }

      p {
        margin-top: 20px;
        font-size: 1.1rem;
      }
    }

    .picture {
      width: 41%;
      img {
        border-radius: 30px;
      }
    }
  }
}
.contactForm {
  padding: 3em 5em;
  // background: #010203;
  background: radial-gradient(
    circle at 50% 50%,
    #003d4e,
    #073645,
    #0c2f3c,
    #0f2834,
    #0f212b,
    #0f1b22,
    #0d151a,
    #070d11,
    #010203
  );
  color: #fdfff5;
  // display: flex;
  // flex-direction: column;

  h2 {
    color: #fdfff5;
    text-align: center;
    font-size: 2.5rem;
  }

  form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    label,
    input,
    textarea {
      width: 80%;
      padding: 12px 20px;
      margin: 3px auto;
      text-align: center;
      display: block;
      border-radius: 4px;

      &:focus {
        border: 3px solid #fff691;
        outline: none;
      }
    }

    button {
      font-family: inherit;
      width: 15%;
      margin-top: 19px;
      padding: 12px 20px;
      border-radius: 8px;
      text-transform: uppercase;
      font-weight: 900;
      background: #fff691;
      transition: all 350ms ease;
      cursor: pointer;

      &:hover,
      &:focus {
        transform: scale(1.1);
        background: #fff584;
      }
    }
  }
}
@media screen and (max-width: 916px) {
  .container .split {
    flex-direction: column-reverse;

    .bio {
      width: 70%;
    }

    .picture {
      width: 65%;
      margin-bottom: 20px;
    }
  }
  .contactForm form {
    width: 90%;

    label,
    input,
    textarea {
      width: 90%;
    }

    button {
      width: 33%;
    }
  }
}
@media screen and (max-width: 541px) {
  .container .split {
    .bio {
      width: 75%;
    }

    .picture {
      width: 75%;
    }
  }
  .contactForm form {
    label,
    input,
    textarea {
      width: 100%;
    }

    button {
      width: 45%;
    }
  }
}
@media screen and (max-width: 415px) {
  .container .split {
    .bio {
      width: 85%;
    }

    .picture {
      width: 85%;
      margin-top: -10px;
      margin-bottom: 30px;
    }
  }
  .contactForm {
    padding: 3em 2em;

    form {
      width: 100%;
      button {
        width: 65%;
      }
    }
  }
}
