:root {
  --clr-prm: #abedff;
  --clr-prm-2: #c4f2ff;
  --clr-prm-3: #b9f2ff;
  --clr-prm-4: #003d4e;
  --crl-scd: #b8caff;
  --clr-scd-2: #fdfff5;
  --clr-acc: #fff691;
  --clr-drk: #010203;
  --clr-lg: #fdfff5;
  --clr-gry: #999999;
  --clr-gry-2: #666666;
  --clr-gry-3: #7a7a7a;
  --clr-gry-4: #bfbfbf;

  --ff-prm: "Raleway", sans-serif;
  --ff-acc: "Josefin Sans", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--ff-prm);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #fbfbfb;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: 300;
  color: var(--clr-drk);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-acc);
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

hr {
  width: 60%;
  margin: 0 auto;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr::before {
  /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
