body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.container {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
}

.heroText {
  position: absolute;
  top: 30%;
  padding-left: 37px;

  h1,
  h2 {
    color: #fbfbfb;
    margin: 0;
  }

  h1 {
    font-size: 5.5rem;
  }

  h2 {
    padding-top: 30px;
    padding-left: 8px;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;

    span {
      padding-top: 0px;
      color: #abedff;
      font-weight: 400;
      transition: all 400ms ease-in;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
        padding-left: 12px;
      }
    }
  }
}

.downArrow {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #fbfbfb;
  transition: all 350ms ease-in;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.2);
    color: #abedff;
  }

  .arrowIcon {
    font-size: 3.1rem;
  }
}

.belowFold,
.homeBlog {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  padding: 40px;

  h3 {
    font-size: 5rem;
  }
}

// ! BELOW THE FOLD
.belowFold {
  background: #fbfbfb;

  .arrowIcon {
    color: #1c1a0d;
  }
}

// ! HOME BLOG
.homeBlog {
  background: #1c1a0d;

  h3 {
    color: #fbfbfb;
  }
}

// !! MEDIA QUERIES
@media screen and (max-width: 1100px) {
  .heroText {
    top: 25%;

    h1 {
      max-width: 75%;
    }
  }
}
@media screen and (max-width: 541px) {
  .container {
    min-height: 95vh;
  }
  .heroText {
    top: 15%;
    padding-left: 27px;

    h1 {
      max-width: 50%;
      font-size: 4rem;
    }

    h2 {
      padding-top: 50px;
      font-size: 2rem;
    }
  }

  .belowFold,
  .homeBlog {
    padding: 25px;

    h3 {
      font-size: 3rem;
    }
  }
}
